{% extends 'header.html' %}
{% block title %}To-Do List - Create a Post{% endblock %}
{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Posts</h1>

                    <!-- Create a post -->
                    <form method="post" action="{% url 'posts' %}" enctype="multipart/form-data"`                           >
                        {% csrf_token %}
          <div class="mb-3">
    <label for="post_title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="post_title" name="title" required>
  </div>
  <div class="mb-3">
    <label for="post_text" class="form-label">Content:</label>
    <input type="text" class="form-control" id="post_text" name="content" required>
  </div>
 <div class="mb-3">
  <label class="form-label" for="post_img">Upload Image (optional):</label>
  <input type="file" class="form-control" id="post_img" name="image">
</div>
                        <div class="mb-3">
   <label class="form-label" for="published">Published:</label>
   <input type="checkbox" name="published" id="published">
      </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

                </div>
                <!-- /.container-fluid -->
</div>

            <!-- End of Main Content -->
{% endblock %}